required for running Server.py are:
pip install insightface
pip install huggingface_hub
pip install flask_cors
pip install opencv-python
pip install ultralytics
pip install numpy
pip install onnxruntime